doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Profile
  link(rel='stylesheet' href='/css/profile.css')
header#navigation
  .buttonsNav
    button(onclick="window.location.href='/customize'") Customize
    button(onclick="window.location.href='/logout'") Log out
#container(style=`background: ${profileBackground}; display: flex;`)

  #leftPanel
    #profileImage
      h2 Username
      #image
        img(src=profileImage alt="Profile Image")
      form(action='/uploadImage' method='POST')
        label(for='imageLink') Enter Profile Image URL: 
        input#imageLink(type='url' name='imageLink' placeholder='Enter image URL' required='')
        button(type='submit') Save Image

    #aboutMe
      h2 About Me:
      form#aboutMeForm(action='/saveAboutMe' method='POST')
        .form-groups
          label(for='name') Name:
          input#name(type='text' name='name' placeholder='Enter your name' value=aboutMe.name required='')
        .form-group
          label(for='location') Location:
          input#location(type='text' name='location' placeholder='Enter your Location' value=aboutMe.location required='')
        .form-group
          label(for='birthday') Birthday:
          input#birthday(type='date' name='birthday' value=aboutMe.birthday required='')
        .form-group
          label(for='hobby') Favorite Hobby:
          input#hobby(type='text' name='hobby' placeholder='Enter your favorite hobby' value=aboutMe.hobby required='')
        .form-group
          button(type='submit') Save

  #rightPanel
    #postThought
      h2 Leave a thought...
      form(action='/add-thought' method='POST')
        #thoughtInput
          label(for='thought')
          textarea#thought(name='thought' rows='7' cols='60' required='')
          br
          br
        input(type='submit' value='Submit')
    #thread
      h2 Thought Threads:
      table#collection
        thead
          tr#items
            th Thought
            th Date
            th comments
            th Delete
        tbody
          // where the user's thoughts will be displayed
    #friendList
      h2 Friend List:
script(src='/js/profile.js')
