doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Profile
  link(rel='stylesheet' href='/css/profile.css')
header#navigation
  .buttonsNav
    button(onclick="window.location.href='/home.html'") Home
    button(onclick="window.location.href='/customize'") Customize
    button(onclick="window.location.href='/logout'") Log out
#container(style=`background: ${profileBackground}; display: flex;`)

  #leftPanel
    #profileImage
      h2= username
      #image
        img(src=profileImage alt="Profile Image")
        // Check if this is someone else's profile
      if isFriendProfile
        form(action=`/add-friend/${username}` method='POST')
          button(type='submit') Add to Friend List

      if !isFriendProfile
        form(action='/uploadImage' method='POST')
          label(for='imageLink') Enter Profile Image URL: 
          input#imageLink(type='url' name='imageLink' placeholder='Enter image URL' required='')
          button(type='submit') Save Image


    #aboutMe
      h2 About Me:
      p Name: #{aboutMe.name}
      p Location: #{aboutMe.location}
      p Birthday: #{aboutMe.birthday}
      p Hobby: #{aboutMe.hobby}

  #rightPanel
    #postThought
      h2 Leave a thought...
      form(action='/add-thought' method='POST')
        #thoughtInput
          label(for='thought')
          textarea#thought(name='thought' rows='7' cols='60' required='')
          br
          br
        input(type='submit' value='Submit')
    #thread
      h2 Thought Threads:
      table#collection
        thead
          tr#items
            th Thought
            th Date
        tbody
          - thoughts = thoughts || [] // Ensure thoughts is defined
          if thoughts.length > 0
            each thought in thoughts
              tr
                td= thought.thought
                td= thought.formattedDate
          


    #friendList
      h2 Friend List:
      #friendListContainer
        if friends && friends.length > 0
          each friend in friends
            .friend-item
              img.friend-image(src=friend.profile_image || '/images/default_profile.png', alt=friend.username)
              p.friend-username= friend.username
        else
          p No friends to display








script.
  const usernameFromBackend = "#{username}";
  console.log("Fetching thoughts for username:", usernameFromBackend);

script(src='/js/profile.js')
